<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.secondtest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PagePourModifierUnProduit"/>
        <activity android:name=".PageDetailProduits" />
        <activity android:name=".PagePourAjouterUnProduit" />
        <activity android:name=".PageProduits" />
        <activity android:name=".PagePourGererDmdAmis" />
        <activity android:name=".PagePourAjouterUneListeDeSouhait" />
        <activity android:name=".PageProfilUpdate" />
        <activity android:name=".PagesListesDeSouhaits" />
        <activity android:name=".PageProfil" />
        <activity android:name=".PageCreationAccount" />
        <activity android:name=".PageAmis" />
        <activity android:name=".PageAccueil" />
        <activity android:name=".PageModifierWishList" />
        <activity android:name=".PageModifierWishListUpdate" />
        <activity android:name=".PageAjouterAdmin"/>
        <activity android:name=".PagePourModifierAdmins"/>
        <activity android:name=".PageCreationProfil"/>
        <activity android:name=".PagePourModiferVisibles"/>
        <activity android:name=".PageAjouterVisible"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>